*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.padre{
    font-family: Arial;
    display: flex;
    flex-direction: column;
}
    .nav{
        background-color: black;
        padding: 12px;
        display: flex;
        justify-content:space-around;
        align-items: center;
       
    }
        .nav a{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.849);
        }
    
    .h1{
        align-self: center;
    }

    .imagentexto{
        display: flex;
    }

        .imagen{
            width: 90%;
            align-self: flex-start;
            margin-left: 12vh;
            margin-right: 5vh;
            margin-top: 3vh;
        }

        .texto{
            text-align: center; 
            margin-right: 12vh;
            margin-left: 5vh;
            width: 75%;
            align-self: center;
            margin-top: 10vh;
            margin-bottom: 5vh;
        }

            .texto p{
                margin-bottom: 2vh;
            }