*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.padre{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(60, 43, 156, 0.801);
}

    .nav{
        background-color: rgb(0, 0, 0);
        padding: 6vh;
        display: flex;
        justify-content: end;
        align-items:end;
       
    
    }   

        .nav img{
            width: 25vh;
            height: 8vh;
            margin-right: 125vh;
            object-fit: contain;
            
        }

        .nav a{
            text-decoration: none;
            color: white;
            margin: 10px;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            letter-spacing: 0px;
            font-style: normal;
        }

    
    .h1{
        display: flex;
        justify-content:flex-start;
        padding-top: 70px;
        margin-left: 10vh;
        }

        .contenedor1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        }

        .formulario{
            max-width: 600px;
            margin: 0 auto; /*asi el formulario esta en el centro*/
            margin-top: 100px;
            padding: 100px;
            background-color: rgba(83, 69, 167, 0.801);
            border-radius: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        
            .formulario p{
                font-size: 5vh;
                display: flex;
                flex-direction: column;
                margin-left: 20vh;
                margin-bottom: 20px;
                margin-left: 20vh;
            }
        
            .formulario label,
            .formulario input {
              margin-bottom: 3px;
              margin-top: 3vh;
              margin-right: 10px;
              display: flex;
              flex-direction: column; /*asi cada input y label estan 1 debajo del otro*/
            }
        
            .boton{ 
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;  
            background-color: #000000;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            margin-bottom: 5px;
          }            

            .footer.redes{
                display: flex;
                flex-direction: row;
                background-color: whitesmoke;
                text-decoration: none;
                justify-content: space-around;
            }
                .redes{
                    font-family: Arial;
                    margin: 10vh;
                }
        
                    .redes p{
                        font-size: 18px;
                        font-weight: bold;
                    }
        
                    .redes a{
                        text-decoration: none;
                        color: black;
                        margin: 4vh;
                        margin-top: 5vh;
                    }
        
                    .redes img{
                        width: 3vh;
                        border-radius: 10%;
                        margin-top: 5vh;
                        mix-blend-mode: color-burn;
                    }